include setup.py
include setup.cfg
include README.md
include src/c_files/hmm.pyx
include src/c_files/hmm.pxd

recursive-include src/c_files *.pyx
recursive-include src *.py
recursive-include src/c_files *.c
recursive-include src/c_files *.h

recursive-include tests *.py
recursive-include data *.pkl
